@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F4F4F4;
}

html,body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.container-global{
  padding: 0 15%;
}