@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F4F4F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background-color: var(--background-color);
  height: 100%;
}

.container-global{
  padding: 0 15%;
}

h1{
  letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {

  .container-global{
    padding: 0 3%;
  }
}